.toast {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 10px 15px 10px 48px;
    width: auto;
    background: #155724;
    border-width: 1px;
    border-style: solid;
    background-color: #d4edda;
    border-color: #c3e6cb;
    //border-color: #dddddd #d6d6d6 #cfcfcf;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
}

.toast-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.toast-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.toast-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}